/* Challenge CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styles */
body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  color: white;
}

/* Navbar styles */
.navbar {
  /* Add styles for navbar */
  background-color: rgb(98, 97, 97);
  display: flex;
  gap: 40px;
  padding: 25px 80px;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
}

.logo {
  /* Add styles for the logo */
  display: flex;
  gap: 7px;
  align-items: center;
  font-weight: 600;
}

.logo img {
  border-radius: 50%;
  
  /* Add styles for logo image */
}

.nav-links a {
  /* Add styles for nav links */
  color: white;
  text-decoration: none;
  font-weight: 600;
  margin-right: 20px;
  transition: all ease-in-out 150ms;
}

/* Hero section styles */
.hero {
  /* Add styles for hero section */
  background-image: url('./assets/chaigym.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.hero-content {
  /* Add styles for hero content */
  padding: 90px 0;
  text-align: center;
  font-size: 1.5rem;
}

.hero-content h1 {
  /* Add styles for hero heading */
  font-size: 4rem;
  text-shadow: 2px 2px 5px black;
}

.hero-content p {
  /* Add styles for hero paragraph */
  text-shadow: 2px 2px 5px black;
  font-weight: 600;
  margin: 20px 0;
}

.cta-button {
  /* Add styles for CTA button */
  padding: 20px 40px;
  border: none;
  background-color: coral;
  border-radius: 5px;
  font-size: 1.5rem;
  transition: all ease-in-out 150ms;
  box-shadow: 1px 1px 4px black;
}

.cta-button:hover {
  /* Add hover styles for CTA button */
  transform: scale(1.03);
}

/* Features section styles */
.features {
  /* Add styles for features section */
  max-width: 90%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, .9);
  border-radius: 20px;
  padding: 60px 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feature {
  /* Add styles for each feature block */
  border: 2px solid coral;
  padding: 20px 40px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.feature h3 {
  /* Add styles for feature heading */
  color: coral;
  font-size: 1.7rem;
  font-weight: 600;
}

.feature p {
  /* Add styles for feature paragraph */
  font-weight: 600;
  font-size: 1.5rem;
}
