* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, sans-serif;
   line-height: 1.6;
   color: white;
   background-color: #0a0a0a;
}

.hero {
   max-width: 720px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   gap: 30px;
}

.announcement {
   text-align: center;
   font-size: 12px;
}

.announcement-link {
   /*  */
   color: whitesmoke;
   text-decoration: none;
   display: flex;
   align-items: center;
   gap: 10px;
   background-color: #1d1825;
   padding: 10px 15px;
   border: 1px solid #332f3a;
   border-radius: 25px;
}

.announcement-link:hover {}

.announcement-text {
}

.announcement-button {
   background-color: #332f3a;
   padding: 5px 13px;
   border-radius: 15px;
   font-size: 12px;
   cursor: pointer;
   display: flex;
   width: fit-content;
}

.hero-content {
   display: flex;
   flex-direction: column;
   gap: 30px;
   text-align: center;
}

.hero-title {
   font-size: 48px;
   line-height: 1.3;
}

.hero-description {
   color: rgb(183, 180, 180);
   width: 68%;
   margin: 0 auto;
}

.cta-button {
   background-image: linear-gradient(135deg, rgb(49, 49, 231), rgb(138, 101, 250));
   width: fit-content;
   margin: 0 auto;
   color: white;
   padding: 10px 20px;
   border-radius: 20px;
   text-decoration: none;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 6px;
}

.cta-button:hover {}

@media (max-width: 640px) {
   .hero {
      padding: 1rem;
   }

   .announcement-link {
      font-size: 0.75rem;
   }

   .hero-content {
      padding: 0 1rem;
   }
}